.app__header {
  position: fixed;
  top: 0%;
  left: 0;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.158);
  z-index: 1;
}

.app__header img {
  height: 2.5rem;
}

.app__body {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cp {
  margin-top: 2rem;
  text-align: center;
  font-size: small;
}

@media screen and (max-width: 768px) {
  .app__header img {
    height: 1.5rem;
  }
}
